html {
    background: #F8F8FF;
    -webkit-font-smoothing: antialiased;
}
body {
    background:	#F8F8FF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}